<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <section class="hero is-primary is-fullheight">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('sign_in') }}" class="navbar-item">
                                Sign In
                            </a>
                            <a href="{{ url_for('predict') }}" class="navbar-item">
                                Predict
                            </a>
                            <a href="{{ url_for('thank_you') }}" class="navbar-item">
                                Thank You!
                            </a>
                        </div>
                    </div>
            </div>
            </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>